.songs-section {
  width: 98%;
  margin: 20px auto;
}
.songs-section .latest {
  display: flex;
}
.songs-section .latest h1 {
  color: #314a5a;
  margin: 10px 20px;
  font-size: 2rem;
}
.songs-section .latest .itunes {
  margin: auto 0;
  font-size: 1.5rem;
  color: #0830c9;
}
.top-Songs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  color: snow;
  flex-wrap: wrap;
}
.top-Songs .container {
  background: #5e371d;
  width: 80%;
  margin: auto;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
}
.top-Songs .container:hover {
  scale: 1.1;
}
.top-Songs .container img {
  width: 70%;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
}
@media screen and (max-width: 750px) {
  .top-Songs {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 455px) {
  .top-Songs {
    grid-template-columns: 1fr;
  }
}
