.embed-youtube {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
.embed-youtube h1 {
  font-size: 1.5rem;
  color: rgb(0, 38, 62);
  margin: 20px 5px;
}
.embed-youtube iframe {
  left: 0;
  top: 0;
  height: 60vh;
  width: 100%;
}
