.details-section {
  width: 90%;
  margin: auto;
  max-width: 500px;
}
.details-section p {
  color: rgb(0, 38, 62);
  font-size: 1.5rem;
}

.details-section audio {
  margin: 20px;
  margin-bottom: 30px;
}
.details-section img {
  width: 80%;
  margin: auto;
}
.details-section a {
  background: rgb(0, 38, 62);
  color: snow;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 15px 80px;
}
@media screen and (min-width: 750px) {
  .details-section {
    width: 50%;
    margin: 20px;
  }
  .details-section img {
    width: 50%;
  }
}
