.reactSlick {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  height: fit-content;
  z-index: -100;
}
.reactSlick .slide {
  z-index: 0;
}
.reactSlick .slide img {
  width: 100%;
  margin: auto;
  height: 30vh;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
